
:root {
    --col1:#333;
    --col2:#F1F1F1;
    --col3: transparent;
}

body {
    width: 100%;
    height: 100vh;
}

.tousProjets {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
}

.card {
    margin-top: 50px;
    position: relative;
    width: 300px;
    height: 370px;
    transition: 0.1s ease-in-out;
    margin-right: 30px;
    /* border: 1px solid black; */
}

.imgHover {
    opacity: 0.5;
    filter: grayscale(1);
    /* filter: blur(1px); */
}

.lienCard {
    text-decoration: none;
    color: black;
}

.divImg {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 2px;
    transition: ease-in-out 0.5s;
    /* background-image: url(../img/img-test-archi.jpg);
    background-size: cover;
    background-position: center; */
}
.divImg:hover {
    transform: scale(1.02);
    box-shadow: 0 0 7px var(--col1);
}

.imgCard {
    height: 300px;
    width: 100%;
    object-fit: cover;
    transition: ease-in-out 0.5s;
}
.imgCard:hover {
    transform: scale(1.1);
}

.divInfos {
 width: 100%;
 height: 50px;
}

.divHrCard {
    position: relative;
    width: 100%;
    height: 30%;
    /* border: solid 1px blue; */
}

.hrCard {
    position: absolute;
    width: 10px;
    height: 2px;
    border: none;
    background-color: black;
    transition: 0.2s ease-in-out;
}
/* .hrCard:hover {
    transform: scaleX(3);
} */

.infos {
    position: relative;
    width: 100%;
    height: 70%;
    bottom: 0;
    /* border: 1px solid red; */
}

.titreCard {
    font-weight: bold;
}