:root {
    --col1: #333;
    --col2: #F1F1F1;
    --col3: grey;
    --col4: black;
    --col5: rgb(68, 68, 68);
    --col6: transparent;
}
body {
    position: relative;
    background-color: var(--col2);
}

/* HEADER */
.header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    
}
.btnRecherche {
    position: absolute;
    right: 120px;
    border: none;
    font-size: 25px;
    border-radius: 5px;
    color: var(--col5);
    transition: linear 0.2s;
}
.btnRecherche::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    /* width: 0%; */
    height: 3px;
    background: var(--col4);
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
    /* transition: width 0.2s ease-in-out; */
}
.btnRecherche:hover::after {
    transform: scale(1);
}
.btnRecherche:hover {
    cursor: pointer;
    color: var(--col4);
}
.btnRechercheOff {
    display: none;
}

.recherche {
    z-index: 50;
    position: absolute;
    right: 70px;
    width: 150px;
    height: 40px;
    color: var(--col1);
    border: solid 2px var(--col1);
    border-radius: 5px;
    transition: linear 0.1s;
}
.rechercheOff {
    display: none;
}
.recherche:focus {
    background-color: var(--col1);
    color: var(--col2);
}
.recherche:hover {
    background-color: var(--col1);
    color: var(--col2);
}

.iconeMenuBurger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 20px;
    transition: linear 0.2s;
}
.iconeMenuBurger:hover {
    cursor: pointer;
    transform: scale(1.2) rotate(-2deg);

}

.ligne1Burger {
    width: 80%;
    height: 10%;
    margin-bottom: 4px;
    transform-origin: left;
    background-color: var(--col1);
    transition: linear 0.1s;
    border-radius: 50px;
}
.ligne2Burger {
    width: 80%;
    height: 10%;
    margin-top: 2px;
    margin-bottom: 3px;
    background-color: var(--col1);
    border-radius: 50px;
}
.ligne3Burger {
    width: 80%;
    height: 10%;
    margin-top: 4px;
    transform-origin: left;
    background-color: var(--col1);
    transition: linear 0.1s;
    border-radius: 50px;
}

#menuDown {
    position: fixed;
    margin-top: 250px;
    display: flex;
    width: 120px;
    border: 1px solid var(--col1);
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: 5px;
    overflow: hidden;
    /* transition: linear 0.05s; */
}
.nav {
    margin-left: 5px;
    text-decoration: none;
    color: var(--col1);
    font-family: fantasy;
    font-size: 20px;
    text-shadow: 0 0 0px var(--col1);
    transition: linear 0.2s;
}
.nav:hover {
    font-family: fantasy;
    text-shadow: 0 0 1px var(--col1);
    transform: scale(1.3) translateX(10px);
    text-decoration: underline;
}

@media screen and (min-width:1024px) {
    #iconeMenuBurger {
        display: none;
    }
    #menuDown {
        position: fixed;
        top: -245px;
        left: 0;
        height: 100px !important;
        display: flex;
        width: 80%;
        /* border: 1px solid var(--col1) !important; */
        align-items: center;
        border-radius: 5px;
        transition: linear 0.2s;
        flex-direction: row;
    }
    .nav {
        display: inline;
        justify-content: center;
        align-items: center;
        color: var(--col5);
        transition: linear 0.3s;
        border-radius: 3px;
        font-size: 2rem;
    }
    .nav::after {
        content: "";
        display: block;
        position: absolute;
        /* width: 100%; */
        width: 0%;
        height: 3px;
        background: var(--col4);
        /* transform: scale(0); */
        /* transition: transform 0.2s ease-in-out; */
        transition: width 0.2s ease-in-out;
    }
    .nav:hover::after {
        /* transform: scale(1); */
        width: 100%;
    }
    .nav:hover {
        transform: translate(0);
        text-decoration: none;
        color: var(--col4);
    }
}

@media  screen and (max-width:767px) {
    #menuDown {
        right: -10px;
        bottom: 50px;
    }
    .iconeMenuBurger {
        position: fixed;
        bottom: 10px;
        right: 0;
    }
    .header {
        position: fixed;
        bottom: 0;
    }
    .recherche {
        position: absolute;
        margin-bottom: -40px;
        left: 50px;
    }
    .btnRecherche {
        position: absolute;
        margin-bottom: -40px;
        left: 110px;
    }
}

/* FIN HEADER */